@charset "UTF-8";
/* CSS Document */
h1{
   font-family: "ReaBijelic";
   color:orange;
   padding:50px;
   margin-top:30px;
   line-height:18px;
}
h2, h3, h4, h5{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:Green;
	font-size: 20px;
	width: 240px,
	background-color: gray;
	padding:21px;
}
a{
	color:hsla(9,100%, 64%, 0.5);
}
body{background-color: lightgray;}
li{display:inline;
border:10px;
}
  